.bg-image{
    background-image: url('images/redshoes.jpg');
    background-position: center;
    background-size: cover;
    height: 79vh;
    }
    .first{
        margin-top: 150px;
        width: auto;
        font-size: 50px;
        font: bold;
        font-weight: 800;
    }
    .text1{
        font-size: 32px;
        font-style: italic;
    }
   
    .container2{
        background-color: black;
        height: 40vh;
        padding: 15px;
        text-align: center;
    }
    .row1{
        padding-top: 40px;
        font-family: Arial, Helvetica, sans-serif;
      
    }
  .bg-image1{
    background-color: black;
    background-image: url(images/greyshoe.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    width: auto;
    
  }
  .bg-image2{
    background-image: url(images/gentrit-sylejmani-JjUyjE-oEbM-unsplash.jpg);
    height: 45vh;
    background-size: cover;
    width: auto;
  
  
  }
  .container3{
    padding: 35px;
  }
  .container5{
    padding-top: 70px;
  }
  .text9{
    font-weight: 500;
  }
  .container8{
    background-color: lightgrey;
    height: 70vh;
    padding: 30px;
}
.text2{
  text-align: left;
  font-size: 17px;
  word-spacing: 3px;
  color: white;
}
.text5{
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: whitesmoke;
}
.word{
  color: rgb(241, 0, 0);
}