.bg-image{
    background-image: url('images/braden-collum-9HI8UJMSdZA-unsplash.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    }
    .first{
        margin-top: 150px;
        width: auto;
        font-size: 50px;
        font: bold;
        font-weight: 800;
    }
    .text1{
        font-size: 32px;
        font-style: italic;
    }
    .container2{
        background-color: white;
        height: 47vh;
        padding: 30px;
    }
    .row1{
        padding-top: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }
  .bg-image1{
    background-image: url(images/fitsum-admasu-oGv9xIl7DkY-unsplash.jpg);
    height: 120vh;
    background-size: cover;
    width: auto;
    margin: 75px;
  
  }
  .bg-image2{
    background-image: url(images/gentrit-sylejmani-JjUyjE-oEbM-unsplash.jpg);
    height: 60vh;
    background-size: cover;
    width: auto;
  
  
  }
  .container3{
    margin-top: 240px;
    padding: 30px;
  }
  .container5{
    padding-top: 70px;
  }
  .text9{
    font-weight: 500;
  }
  .container8{
    background-color: lightgrey;
    height: 60vh;
    padding: 30px;
}